language: python
python: 2.7
env:
  global:
    LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
  matrix:
    - TOXENV=py2.7-cover,coveralls
    - TOXENV=py2.7-smoke
    - TOXENV=py3.4-smoke
    - TOXENV=pypy-smoke
before_install:
  - |
    case $TOXENV in
      pypy*)
        deactivate
        sudo apt-add-repository --yes ppa:pypy/ppa
        sudo apt-get update
        sudo apt-get install pypy
        source ~/virtualenv/pypy/bin/activate
      ;;
    esac
    python --version
    uname -a
    lsb_release -a
install:
  - pip install tox
script:
  - tox -v
notifications:
  email:
    on_success: never
    on_failure: always
